.mbn-20 {
	margin-bottom: -20px;
}

.mb-20 {
	margin-bottom: 20px;
}

body.skin-dark .form-control {
	max-width: 100%;
	background-color: #161824;
	border-color: transparent;
	color: #8b8d9b;
}

.tags-input ul {
	flex-wrap: wrap;
	list-style: none;
	padding-top: 10px;
	margin: 0;
}

.tags-input li {
	display: flex;
	font-size: 12px;
	background-color: #ccc;
	color: #333;
	border-radius: 20px;
	padding: 2px 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

body.skin-dark .tags-input li {
	background-color: #161824;
	color: #fafafa;
}

#courseSlugPreview {
	text-align: justify;
}

label {
	cursor: pointer;
}
