<!-- breadcrumb -->
<% if (breadcrumbs) { %>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<% breadcrumbs.forEach((breadcrumb , index) => { %> <% if (index ==
					breadcrumbs.length - 1) { %>
					<li class="breadcrumb-item active" aria-current="page">
						<%= breadcrumb.name %>
					</li>
					<% } else { %>
					<li class="breadcrumb-item">
						<a href="<%= breadcrumb.url %>"> <%= breadcrumb.name %></a>
					</li>
					<% } %> <% }) %>
				</ol>
			</nav>
			<% } %>
			<!-- breadcrumb -->
