<link rel="stylesheet" href="/static/css/comment.css">
<ul class="comments-wrap mt-4">
	<li class="comment d-flex flex-column flex-lg-row  align-items-center">
		<div class="comment-body rounded p-4 w-100 ms-3">
			<div class="d-flex align-items-center">
				<img class="rounded-circle mb-2 mb-lg-0 img-fluid" width="35px" height="35px" loading="lazy" src="/static/imgs/avatar.png" alt="کاربر">
				<div class="d-flex flex-column ms-3 me-auto">
					<p class="mb-0 fw-bold text-secondary">علی نظری</p>
					<p class="mb-0" style="font-size: 13px;"  class="form-text">5 روز پیش</p>
				</div>
				<ul style="list-style: none" class="d-flex mb-0 d-inline-block align-items-center justify-content-center">
					<li class="mx-2">
						<a class="link link-dark" href="#">
							<img loading="lazy" src="/static/imgs/heart.svg" alt="لایک">
							<span>2</span>
						</a>
					</li>
					<li class="mx-2">
						<button class="btn btn-outline-primary btn-sm">پاسخ</button>
					</li>
				</ul>
			</div>
			<hr class="w-75 mx-auto border border-secondary">
			<p class="mb-0 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptates libero illo officiis cupiditate distinctio explicabo deserunt culpa, fugiat quam consequuntur porro, harum dolorum, doloribus iure. Totam, autem molestiae hic aut nisi enim rerum reiciendis minus ipsa maxime quas delectus nesciunt impedit iste a dicta sapiente perspiciatis nulla illo! Laudantium!</p>
		</div>
		<li class="d-flex flex-column flex-lg-row justify-content-center align-items-center ms-auto mt-4 ms-auto reply">
			<div class="comment-body rounded p-4 w-100 ms-3">
				<div class="d-flex align-items-center justify-content-between">
					<img class="rounded-circle mb-2 mb-lg-0 " loading="lazy" width="35px" height="35px" src="/static/imgs/avatar.png" alt="کاربر">
					<div class="d-flex flex-column ms-3 me-auto">
						<p class="mb-0 fw-bold text-secondary">علی نظری</p>
						<p class="mb-0" style="font-size: 13px;"  class="form-text">5 روز پیش</p>
					</div>
					<ul style="list-style: none" class="d-flex mb-0 d-inline-block align-items-center">
						<li class="mx-2">
							<a class="link link-dark" href="#">
								<img loading="lazy" src="/static/imgs/heart.svg" alt="لایک">
								<span>2</span>
							</a>
						</li>
						<li class="mx-2">
							<button class="btn btn-outline-primary btn-sm">پاسخ</button>
						</li>
					</ul>
				</div>
				<hr class="w-75 mx-auto border border-secondary">
				<p class="mb-0 p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptates libero illo officiis cupiditate distinctio explicabo deserunt culpa, fugiat quam consequuntur porro, harum dolorum, doloribus iure. Totam, autem molestiae hic aut nisi enim rerum reiciendis minus ipsa maxime quas delectus nesciunt impedit iste a dicta sapiente perspiciatis nulla illo! Laudantium!</p>
			</div>
		</li>
	</li>
</ul>
