

<img src="/static/imgs/wave.svg" alt="ููุฌ" />
<footer class="text-white text-center">
	<div class="container">
		<div class="row align-items-start justify-content-center pt-4">
			<div class="col-12 col-lg-4">
				<p class="fs-4 fw-bold">ุฏุณุชุฑุณ ุณุฑุน</p>
				<ul class="">
					<li>ุตูุญู ุงุตู</li>
					<li>ุฏุฑุจุงุฑู ูุง</li>
					<li>ูุญุตููุงุช</li>
					<li><a class="link-light" href="/contact-us">ุชูุงุณ ุจุง ูุง</a></li>
				</ul>
			</div>
			<div class="col-12 col-lg-4">
				<p class="fs-4 fw-bold">ูุง ุฑุง ุฏูุจุงู ฺฉูุฏ</p>
				<div class="d-flex justify-content-center align-items-center">
					<ul class="fs-3 d-flex justify-content-center align-items-center mb-0">
						<li class="me-2">
							<a class="link-light" href="#"><i class="bx bxl-telegram"></i></a>
						</li>
						<li>
							<a class="link-light" href="#"><i class="bx bxl-instagram-alt"></i></a>
						</li>
					</ul>
				</div>
				<p>ุฏูุจุงู ุชุงุฒู ุชุฑู ูุง ุจุงุด ๐๐ป</p>
				<div class="input-group mb-3">
					<input
						type="email"
						class="form-control"
						placeholder="ุงูู ุฎูุฏ ุฑุง ูุงุฑุฏ ฺฉูุฏ"
						aria-label="Example text with button addon"
						aria-describedby="button-addon1"
					/>
					<button class="btn btn-outline-secondary" type="button" id="button-addon1">ุนุถู ูุดู</button>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<img width="75px" class="img-fluid" loading="lazy" src="/static/imgs/enamad.png" alt="ูุดุงู ุงููุงุฏ" />
				<p class="text-center mt-3">ุชูุงู ุญููู ูุงุฏ ู ูุนูู ุณุงุช ูุญููุธ ุงุณุช</p>
			</div>
		</div>

		<div class="row border-top border-secondary">
			<p class="mt-4 fs-6">
				<span>ุณุงุฎุชู ุดุฏู ุจุง โ ุชูุณุท </span
				><a target="_blank" href="https://ali-nazari.netlify.app"
					><img width="150px" class="img-fluid" src="/static/imgs/logo.svg" alt="ุนู ูุธุฑ"
				/></a>
			</p>
		</div>
	</div>
</footer>


