<% if(errors.length > 0) { %>
	<div class="alert alert-danger alert-dismissible col-12 col-lg-6 offset-lg-3">
		<button
			type="button"
			class="btn-close btn-danger position-absolute top-0 end-0"
			aria-label="Close"
		></button>
		<ul>
			<% errors.forEach(error => { %>
			<li><%= error %></li>
			<% }) %>
		</ul>
	</div>
<% } %>
<% if(success.length > 0) { %>
	<div class="alert alert-success alert-dismissible">
		<button
			type="button"
			class="btn-close btn-success position-absolute top-0 end-0"
			aria-label="Close"
		></button>
		<ul>
			<% success.forEach(msg => { %>
			<li><%= msg %></li>
			<% }) %>
		</ul>
	</div>
	<% } %>
