<link rel="stylesheet" href="/static/css/rating.css" />
<form class="rating">
	<label>
		<input type="radio" name="stars" value="1" />
		<span class="icon"><i class="bx bxs-star" ></i></span>
	</label>
	<label>
		<input type="radio" name="stars" value="2" />
		<span class="icon"><i class="bx bxs-star" ></i></span>
		<span class="icon"><i class="bx bxs-star" ></i></span>
	</label>
	<label>
		<input type="radio" name="stars" value="3" />
		<span class="icon"><i class="bx bxs-star" ></i></span>
		<span class="icon"><i class="bx bxs-star" ></i></span>
		<span class="icon"><i class="bx bxs-star" ></i></span>
	</label>
	<label>
		<input type="radio" name="stars" value="4" />
		<span class="icon"><i class="bx bxs-star" ></i></span>
		<span class="icon"><i class="bx bxs-star" ></i></span>
		<span class="icon"><i class="bx bxs-star" ></i></span>
		<span class="icon"><i class="bx bxs-star" ></i></span>
	</label>
	<label>
		<input type="radio" name="stars" value="5" />
		<span class="icon"><i class="bx bxs-star" ></i></span>
		<span class="icon"><i class="bx bxs-star" ></i></span>
		<span class="icon"><i class="bx bxs-star" ></i></span>
		<span class="icon"><i class="bx bxs-star" ></i></span>
		<span class="icon"><i class="bx bxs-star" ></i></span>
	</label>
</form>
