<link rel="stylesheet" href="/static/components/readMoreReadLess/style.css">

<div class="position-relative">
	<div class="content">
		<%- data %>
	</div>
	<div class="position-absolute layer"></div>
</div>
<button class="toggle-btn btn btn-outline-primary d-inline-block w-25 mx-auto" >ادامه مطلب</button>

<script src="/static/components/readMoreReadLess/script.js"></script>
