<div class="container">
	<div class="row pt-5 justify-content-center">
		<div class="col-12 col-lg-4">
			<% if(messages.length > 0) { %>
			<div class="alert alert-danger alert-dismissible">
				<button
					type="button"
					class="btn-close btn-danger position-absolute top-0 end-0"
					aria-label="Close"
				></button>
				<ul>
					<% messages.forEach(error => { %>
					<li><%= error %></li>
					<% }) %>
				</ul>
			</div>
			<% } %>
			<form
				class="form-horizontal"
				method="POST"
				action="/auth/register"
				autocomplete="off"
			>
				<div class="form-group mt-3">
					<label for="email" class="control-label mb-2">ایمیل</label>
					<input
						dir="rtl"
						id="email"
						type="email"
						class="form-control"
						name="email"
						required="true"
						inputmode="email"
					/>
				</div>
				<p class="form-text">برای مثال : backendwithali@gmail.com</p>

				<div class="form-group mt-3">
					<label for="password" class="control-label mb-2">رمز عبور</label>
					<input
						id="password"
						type="password"
						class="form-control"
						name="password"
						required="true"
					/>
				</div>

				<div class="form-group mt-3">
					<label for="password-confirm" class="control-label mb-2"
						>تکرار رمز عبور</label
					>
					<input
						id="password-confirm"
						type="password"
						class="form-control"
						name="passwordConfirmation"
						required="true"
					/>
				</div>

				<div class="form-group mt-3"><%- captcha %></div>

				<div class="form-check mt-3">
					<input
						class="form-check-input"
						type="checkbox"
						id="flexCheckCheckedDisabled"
						checked
						disabled
					/>
					<label
						class="form-check-label form-text"
						for="flexCheckCheckedDisabled"
					>
						با ثبت نام در فروشگاه عطن شما با قوانین و مقررات استفاده از
						سرویس‌های سایت موافقت می‌کنید
					</label>
				</div>

				<p class="text-center mt-3 link-underline-opacity-0">
					<span> حساب کاربری دارید؟ </span>
					<a class="link-underline-opacity-0" href="/auth/login"
						>ورود به حساب</a
					>
				</p>

				<div class="form-group mt-3 d-grid">
					<button disabled type="submit" class="btn btn-primary submitButton">
						عضویت
					</button>
					<p class="text-center mt-3">یا</p>
					<a href="/auth/google" class="btn btn-danger"
						>ثبت نام با اکانت گوگل</a
					>
				</div>
			</form>
		</div>
	</div>
</div>
