* {
	font-family: Vazirmatn, sans-serif;
}

::-webkit-input-placeholder {
	text-align: right;
	font-size: 14px;
}

input:-moz-placeholder {
	text-align: right;
	font-size: 14px;
}

a {
	text-decoration: none;
}

.avatar {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.text-14 {
	font-size: 14px;
}

footer {
	background-color: #303030;
}

footer ul {
	list-style: none;
}

footer ul li {
	margin: 10px 0;
	cursor: pointer;
}

.alert {
	direction: rtl;
}

.alert ul {
	text-align: center;
	list-style: none;
}
.alert button {
	right: 0;
}

.course-card {
	overflow: hidden;
}
.course-card img {
	transition: all 0.3s ease;
}
.course-card:hover img {
	transform: scale(1.1);
}
.header_meta {
	font-size: 14px;
}

@media (min-width: 768px) and (max-width: 993px) {
	.header_meta {
		font-size: 12px;
	}
}

.swiper {
	width: 480px;
	height: 200px;
	border-radius: 20px;
}

.cart-button {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	background-color: #e7e7e7;
	border: 1px solid #ccc;
}

.alert {
	color: #666666;
	padding: 15px 20px;
	padding-right: 45px;
	border: none;
	background-color: #eff8fe;
	position: relative;
}

/* alert boxes start */

.alert.alert-danger {
	background-color: rgba(253, 66, 124, 0.1);
}

.alert.alert-success {
	background-color: rgba(41, 219, 45, 0.1);
}

.alert.alert-danger p {
	color: #fd427c;
}
.alert.alert-success p {
	color: #29db2d;
}

/* alert boxes end */

.fs-14px {
	font-size: 14px;
}
