* {
	font-family: Vazirmatn, sans-serif;
}

::-webkit-input-placeholder {
	text-align: right;
	font-size: 14px;
}

input:-moz-placeholder {
	text-align: right;
	font-size: 14px;
}

a {
	text-decoration: none;
}

.avatar {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.text-14 {
	font-size: 14px;
}

footer {
	text-align: center;
	background-color: #303030;
}

footer ul {
	list-style: none;
}

footer ul li {
	margin: 10px 0;
	cursor: pointer;
	transition: all 0.3s linear;
}

footer ul li:hover {
	color: #0d6efd;
}

.alert {
	direction: rtl;
}

.alert ul {
	text-align: center;
	list-style: none;
}
.alert button {
	right: 0;
}

.course-card {
	overflow: hidden;
}
.course-card img {
	transition: all 0.3s ease;
}
.course-card:hover img {
	transform: scale(1.1);
}
.header_meta {
	font-size: 14px;
}

@media (min-width: 768px) and (max-width: 993px) {
	.header_meta {
		font-size: 12px;
	}
}

.swiper {
  width: 480px;
  height: 200px;
	border-radius: 20px;
}
