.card {
	width: 15rem;
	color: #f8f8f8;
}
#nav li,
#newTicketForm,
.card,
.trans-box,
.trans-table-wrap {
	background-color: #28293d;
}
#nav li.active a {
	color: royalblue !important;
}
#nav li a,
.btn-close {
	color: #fafafa;
}
.ticket-badge {
	background-color: #464347;
	color: #fac12f;
}
.ticket {
	transition: all 0.3s ease;
}

.ticket:hover,
#newTicketForm input,
.choices__list,
.choices__inner,
.choices,
.ticket-sender,
.ticket-reciever {
	background-color: #32334d !important;
	border: 0 !important;
	color: #919197;
}

#newTicketForm input::placeholder {
	color: #919197;
}
.choices__item:hover {
	background-color: #2a2b41;
	color: #6c6c6e;
}
.choices__inner,
.choices {
	padding: 0;
	border-radius: 5px !important;
}
.choices__inner {
	border: 0 !important;
}
.choices__input,
.trans-box-head-txt {
	color: #919197;
}
.choices[data-type*='select-one']:after {
	display: none !important;
}
.trans-table-wrap table th {
	padding: 20px;
}

.trans-table-wrap table th {
	font-size: 20px;
}

.trans-table-wrap ul li {
	list-style: none;
}

.failed-pay-item{
	background-color: #602431;
}
.successful-pay-item{
	background-color: #166448;
}
