<h3>سلام <span class="text-warning fw-bold fs-3 mx-2"><%= (admin.firstName ?? admin.email.slice(0,admin.email.indexOf('@')) + '@')  + ' ' + (admin.lastName ?? '') %> </span> به پنل مدیریت خوش اومدی 👋🏻</h3>

