<div class="row mt-5">
	<section class="col-12">
		<div class="row d-flex flex-wrap justify-content-around g-4">
			<!--  -->
			<div
				style="background-color: #4e81fb"
				class="rounded-4 d-flex pt-3 pb-0 justify-content-center col-12 col-sm-4 col-lg-3"
			>
				<i class="bx bxs-sticker fs-4 me-2" style="color: #ffffff"></i>
				<div class="text-center d-flex flex-column">
					<p class="mb-0 fs-14px">همه تیکت ها</p>
					<p class="mb-0 fw-bold fs-5"><span class="number" data-value="0">0</span><span class="ms-3">عدد</span></p>
				</div>
			</div>
			<!--  -->
			<!--  -->
			<div
				style="background-color: #facc15"
				class="rounded-4 d-flex pt-3 pb-0 justify-content-center col-12 col-sm-4 col-lg-3"
			>
				<i class="bx bxs-message-alt fs-4 me-2" style="color: #ffffff"></i>
				<div class="text-center d-flex flex-column">
					<p class="mb-0 fs-14px">همه تیکت ها</p>
					<p class="mb-0 fw-bold fs-5"><span class="number" data-value="0">0</span><span class="ms-3">عدد</span></p>
				</div>
			</div>
			<!--  -->
			<!--  -->
			<div
				style="background-color: #f43f5e"
				class="rounded-4 d-flex pt-3 pb-0 justify-content-center col-12 col-sm-4 col-lg-3"
			>
				<i class="bx bxs-chat fs-4 me-2" style="color: #fdfdfd"></i>
				<div class="text-center d-flex flex-column">
					<p class="mb-0 fs-14px">همه تیکت ها</p>
					<p class="mb-0 fw-bold fs-5"><span class="number" data-value="0">0</span><span class="ms-3">عدد</span></p>
				</div>
			</div>
			<!--  -->
		</div>
		<div class="row mt-4">
			<!-- new ticket  -->
			<div
				style="background-color: #4e81fb"
				class="rounded-4 d-flex justify-content-center col-12 col-sm-4 col-lg-3 mx-auto"
			>
				<button class="btn fw-bold d-inline-flex align-items-center w-100 justify-content-center py-3">
					<i class="bx bx-plus-circle fs-2" style="color: #ffffff"></i>
					<span class="ms-3 fs-4 text-white">تیکت جدید</span>
				</button>
			</div>
			<!--  -->
		</div>
	</section>
</div>
<div class="row mt-5">
	<section class="col-12 rounded-4 p-4" style="background-color: #28293d">
		<h1 class="fs-4">تیکت ها</h1>
		<hr />
		<!-- ticket item start -->
		<!-- <div class="d-flex flex-wrap align-items-center ticket p-3 rounded-3">
			<p class="mb-0"><span>#</span><span class="number" data-value="3473"></span></p>
			<a href="#" class="link-light me-auto ms-3">عضویت در کانال VIP</a>
			<p class="number mb-0 me-4" data-value="21:30">21:30</p>
			<div class="tags d-flex flex-wrap align-items-center justify-content-around">
				<span class="rounded-4 fs-14px p-2 ticket-badge mx-1">مالی</span>
				<span class="rounded-4 fs-14px p-2 ticket-badge mx-1">پشتیبانی</span>
			</div>
		</div> -->
		<!-- ticket item end -->
		<div class="text-center">
			<p class="mb-2 text-secondary fs-6 mt-3">هیچ تیکتی ارسال نشده است 🤨</p>
			<img class="img-fluid w-50 mx-auto mt-4" src="/static/imgs/emptyCart.svg" alt="سبد خرید خالی" />
		</div>
	</section>
</div>
