<div class="row mt-5 gy-4">
			<!-- box start -->
			<div class="rounded-4 d-flex flex-column pt-3 pb-0 justify-content-center col-12 col-sm-4 offset-sm-2 trans-box align-items-center mx-auto">
					<div class="d-flex align-items-center justify-content-center mb-2">
						<p class="d-inline-flex p-4 rounded-4 align-items-center justify-content-center me-4" style="background-color: #3B82F6;">
							<i class="bx bxs-sticker fs-4 " style="color: #ffffff"></i>
						</p>
										<div class="text-center d-flex flex-column">
						<p class="mb-0 fs-5 trans-box-head-txt">موجودی کیف پول</p>
						<p class="mb-0 fw-bold fs-5 mt-2"><span class="number me-2 fw-bold" data-value="0"></span><img width="22px" src="/static/imgs/toman-white.svg" alt=""></p>
										</div>
					</div>
					<div class="border-top w-100 p-2 border-secondary">
						<a class="d-inline-flex align-items-center" style="color: #3B82F6;" href="/courses"><span class="me-2 fs-14px">افزایش موجودی</span>
							<svg width="15"  viewBox="0 0 23 15" fill="#3B82F6" xmlns="http://www.w3.org/2000/svg">
							<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" opacity="0.4" d="M16.5073 5.95329L21.0752 5.54932C22.1003 5.54932 22.9315 6.38856 22.9315 7.42367C22.9315 8.45878 22.1003 9.29802 21.0752 9.29802L16.5073 8.89404C15.7031 8.89404 15.0511 8.23571 15.0511 7.42367C15.0511 6.61027 15.7031 5.95329 16.5073 5.95329"></path>
							<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" d="M1.16786 6.02753C1.23926 5.95544 1.50598 5.65076 1.75653 5.39776C3.21811 3.81313 7.03437 1.22195 9.03073 0.428959C9.33382 0.302461 10.1003 0.0331419 10.5112 0.0140991C10.9032 0.0140991 11.2776 0.105232 11.6346 0.284778C12.0805 0.536415 12.4361 0.933592 12.6328 1.4015C12.7581 1.72523 12.9548 2.69777 12.9548 2.71545C13.1501 3.77776 13.2565 5.50521 13.2565 7.41493C13.2565 9.23215 13.1501 10.8889 12.9898 11.9689C12.9723 11.9879 12.7756 13.1944 12.5614 13.6079C12.1694 14.3642 11.4029 14.8321 10.5826 14.8321H10.5112C9.97638 14.8144 8.85292 14.3451 8.85292 14.3288C6.96297 13.5358 3.23697 11.0698 1.73902 9.43074C1.73902 9.43074 1.31604 9.00908 1.13284 8.74656C0.84726 8.36843 0.70447 7.90052 0.70447 7.43261C0.70447 6.9103 0.864772 6.42471 1.16786 6.02753"></path>
							</svg>
						</a>
					</div>
			</div>
			<!-- box end -->
			<!-- box start -->
			<div class="rounded-4 d-flex flex-column pt-3 pb-0 justify-content-center col-12 col-sm-4 trans-box align-items-center mx-auto">
					<div class="d-flex align-items-center justify-content-center mb-2">
						<p class="d-inline-flex p-4 rounded-4 align-items-center justify-content-center me-4" style="background-color: #FFA826;">
							<i class="bx bxs-sticker fs-4 " style="color: #ffffff"></i>
						</p>
						<div class="text-center d-flex flex-column">
							<p class="mb-0 fs-5 trans-box-head-txt">عضویت ویژه</p>
							<p class="mb-0 fw-bold fs-5 mt-2">عضو ویژه نیستید !</p>
						</div>
					</div>
					<div class="border-top w-100 p-2 border-secondary">
						<a class="d-inline-flex align-items-center" style="color: #3B82F6;" href="/courses"><span class="me-2 fs-14px">تمدید اشتراک عضویت ویژه</span>
							<svg width="15"  viewBox="0 0 23 15" fill="#3B82F6" xmlns="http://www.w3.org/2000/svg">
							<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" opacity="0.4" d="M16.5073 5.95329L21.0752 5.54932C22.1003 5.54932 22.9315 6.38856 22.9315 7.42367C22.9315 8.45878 22.1003 9.29802 21.0752 9.29802L16.5073 8.89404C15.7031 8.89404 15.0511 8.23571 15.0511 7.42367C15.0511 6.61027 15.7031 5.95329 16.5073 5.95329"></path>
							<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" d="M1.16786 6.02753C1.23926 5.95544 1.50598 5.65076 1.75653 5.39776C3.21811 3.81313 7.03437 1.22195 9.03073 0.428959C9.33382 0.302461 10.1003 0.0331419 10.5112 0.0140991C10.9032 0.0140991 11.2776 0.105232 11.6346 0.284778C12.0805 0.536415 12.4361 0.933592 12.6328 1.4015C12.7581 1.72523 12.9548 2.69777 12.9548 2.71545C13.1501 3.77776 13.2565 5.50521 13.2565 7.41493C13.2565 9.23215 13.1501 10.8889 12.9898 11.9689C12.9723 11.9879 12.7756 13.1944 12.5614 13.6079C12.1694 14.3642 11.4029 14.8321 10.5826 14.8321H10.5112C9.97638 14.8144 8.85292 14.3451 8.85292 14.3288C6.96297 13.5358 3.23697 11.0698 1.73902 9.43074C1.73902 9.43074 1.31604 9.00908 1.13284 8.74656C0.84726 8.36843 0.70447 7.90052 0.70447 7.43261C0.70447 6.9103 0.864772 6.42471 1.16786 6.02753"></path>
							</svg>
						</a>
					</div>
			</div>
			<!-- box end -->
</div>
<div class="row">
	<section class="col-12 trans-table-wrap my-5 p-3 p-lg-5">
		<h2 class="fs-4 pb-3">تاریخچه تراکنش ها</h2>
		<hr>
		<ul class="w-100 mx-auto p-0">
			<li class="d-flex align-items-center justify-content-evenly text-md-center">
				<p class="mb-0 w-100">شماره پیگیری</p>
				<p class="mb-0 d-none d-lg-block w-100">شرح تراکنش</p>
				<p class="mb-0 w-100">مبلغ</p>
				<p class="mb-0 w-100 d-none d-lg-block">ساعت</p>
				<p class="mb-0 w-100">تاریخ</p>
			</li>
			<!-- failed payment start -->
			<li class="my-3 p-3 rounded-2 d-flex failed-pay-item justify-content-between">
				<p class="mb-0 ">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="#DC2626" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0 12C0 21.882 2.118 24 12 24C21.882 24 24 21.882 24 12C24 2.118 21.882 0 12 0C2.118 0 0 2.118 0 12ZM8.46452 8.46443C8.85505 8.07391 9.48821 8.07391 9.87874 8.46443L12.0001 10.5858L14.1214 8.46452C14.5119 8.074 15.145 8.074 15.5356 8.46452C15.9261 8.85505 15.9261 9.48821 15.5356 9.87874L13.4143 12L15.5356 14.1213C15.9261 14.5118 15.9261 15.145 15.5356 15.5355C15.1451 15.926 14.5119 15.926 14.1214 15.5355L12.0001 13.4142L9.87871 15.5356C9.48819 15.9261 8.85503 15.9261 8.4645 15.5356C8.07398 15.1451 8.07398 14.5119 8.4645 14.1214L10.5859 12L8.46452 9.87864C8.074 9.48812 8.074 8.85496 8.46452 8.46443Z" fill="#DC2626"></path>
						</svg>
					<span class="ms-lg-4">79990</span>
				</p>
				<p class="mb-0 d-none d-lg-block">خرید از طریق سبد خرید</p>
				<p class="mb-0 "><span data-value="580000" class="number me-2"></span><img loading="lazy" width="20px" src="/static/imgs/toman-white.svg" alt="تومان" class=""></p>
				<p class="mb-0 d-none d-lg-block">23:13</p>
				<p class="mb-0 ">12 اردیبهشت 1403</p>
			</li>
			<!-- successful payment start -->
			<li class="my-3 p-3 rounded-2 d-flex successful-pay-item justify-content-between">
				<p class="mb-0 ">
					<svg width="24" height="24" viewBox="0 0 18 13" fill="#22C55E" xmlns="http://www.w3.org/2000/svg">
						<path fill="#22C55E" fill-rule="evenodd" clip-rule="evenodd" d="M16.849 2.91808C17.4348 2.3323 17.4348 1.38255 16.849 0.796762C16.2633 0.210975 15.3135 0.210975 14.7277 0.796762L6.5012 9.02328L2.91808 5.44015C2.3323 4.85437 1.38255 4.85437 0.796762 5.44015C0.210975 6.02594 0.210975 6.97569 0.796762 7.56147L5.43997 12.2047C5.78681 12.5515 6.26124 12.693 6.71217 12.6291C7.02331 12.5853 7.32334 12.4438 7.56263 12.2045L16.849 2.91808Z">
						</path>
					</svg>
					<span class="ms-lg-4">79990</span>
				</p>
				<p class="mb-0 d-none d-lg-block">خرید از طریق سبد خرید</p>
				<p class="mb-0 "><span data-value="580000" class="number me-2"></span><img loading="lazy" width="20px" src="/static/imgs/toman-white.svg" alt="تومان" class=""></p>
				<p class="mb-0 d-none d-lg-block">23:13</p>
				<p class="mb-0 ">12 اردیبهشت 1403</p>
			</li>
			<!-- successful payment start -->

		</ul>
	</section>
</div>
