<!-- form start -->
<div class="container">
	<div class="row pt-5 justify-content-center">
		<div class="col-12 col-lg-4">
			<% if(errors.length > 0) { %>
			<div class="alert alert-danger alert-dismissible">
				<button
					type="button"
					class="btn-close btn-danger position-absolute top-0 end-0"
					aria-label="Close"
				></button>
				<ul>
					<% errors.forEach(error => { %>
					<li><%= error %></li>
					<% }) %>
				</ul>
			</div>
			<% } %>
			<form
				class="form-horizontal"
				method="POST"
				action="/auth/password/email"
				autocomplete="off"
			>
				<div class="form-group mt-3">
					<label for="email" class="control-label mb-2">ایمیل</label>
					<input
						dir="rtl"
						id="email"
						type="email"
						class="form-control"
						name="email"
						required="true"
						inputmode="email"
					/>
				</div>
				<p class="form-text">برای مثال : backendwithali@gmail.com</p>

				<div class="form-group mt-3"><%- captcha %></div>

				<div class="form-group mt-3 d-grid">
					<button disabled type="submit" class="btn btn-primary submitButton">
						تغییر رمز عبور
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- form end -->
