<div class="container mt-5">
	<div class="row"><%- include('../components/breadCrumbs.ejs') %></div>
	<div class="row pt-5">
		<div class="col-12 col-lg-6">
			<h1 class="fw-bold mb-3" style="font-size: 4rem">داستان شکل گیری فروشگاه عطن</h1>
			<p>
				داستان خاصی نداشتیم فقط یه روز تصمیم گرفتیم که یه فروشگاه بزنیم و رویا فروشی کنیم. البته مدرس های خوبی استخدام
				کردیم که با دوره هاشون بیشتر و بهتر بتونن کاربر ها رو گول بزنن و بهشون رویای درامد بالا رو بفروشن
			</p>
		</div>
		<div class="col-12 col-lg-6">
			<img loading="lazy" src="/static/imgs/aboutUsIntro.png" alt="بنر صفحه درباره ما" />
		</div>
	</div>
	<div class="row mt-5">
		<h2 class="text-center pt-5">
			<svg width="37" height="34" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="10" cy="24" r="10" fill="currentColor"></circle>
				<circle cx="30" cy="13" r="7" fill="currentColor" fill-opacity="0.4"></circle>
				<circle cx="15" cy="4" r="4" fill="currentColor" fill-opacity="0.7"></circle></svg
			><span class="ms-2 fw-bold">هدف ما در فروشگاه عطن</span>
		</h2>
		<p class="w-75 mx-auto mt-2 fs-5 mt-4 text-center">
			ما به عنوان یک وبسایت آموزشی سعی داریم به همه شما عزیزان فارسی زبان کمک کنیم که در این دنیای بی کران از زبان ها و
			فریمورک‌ها و ابزارهای مختلف برنامه نویسی مسیر فعالیت خود را پیدا کنید و همچنین سعی داریم در این مسیر همراه شما
			باشیم تا این قابلیت را بدست بیاورید که از دانش کسب شد در کسب و کار خود یا برای استخدام در شرکتی که قصد فعالیت در
			آن را دارید استفاده کنید . هدف ما پیروزی شماست .
		</p>
		<p class="w-75 mx-auto mt-2 fs-5 mt-2 text-center">
			از این رو تصمیم ما ایجاد کردن یک فضای دوستانه است، که هم برای آموزش و هم برای ایجاد ارتباط و حل مشکل برنامه نویسان
			مختلف در فضای وب فارسی مورد استفاده قرار بگیرد تا در کنار یادگیری ابزارهای جدید، به عنوان یک برنامه نویس بتوانید
			مشکلاتتان را در راکت حل کنید یا حتی قادر باشید شغل آینده خود را پیدا کنید.
		</p>
		<hr class="mt-4 w-50 mx-auto" />
		<p class="fs-5 text-center mt-5">
			در زیر بخشی از افرادی را مشاهده می‌کنید که به شکل مستقیم در راکت فعالیت دارند و به رشد آن کمک می‌کنند.
		</p>
		<h2 class="text-center mt-4">
			<svg width="37" height="34" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="10" cy="24" r="10" fill="currentColor"></circle>
				<circle cx="30" cy="13" r="7" fill="currentColor" fill-opacity="0.4"></circle>
				<circle cx="15" cy="4" r="4" fill="currentColor" fill-opacity="0.7"></circle></svg
			><span class="ms-2 fw-bold">تیم ما در فروشگاه عطن</span>
		</h2>
		<section class="team mt-5 d-flex align-items-center justify-content-evenly w-75 mx-auto">
			<div class="d-flex flex-column align-items-center justify-content-center">
				<img width="100px" src="/static/imgs/ali.jpg" alt="team-member" class="rounded-circle" />
				<p class="text-primary mb-0 mt-3">علی نظری</p>
				<p>توسعه دهنده</p>
			</div>
			<div class="d-flex flex-column align-items-center justify-content-center">
				<img width="100px" src="/static/imgs/defaultImage.avif" alt="team-member" class="rounded-circle" />
				<p class="text-primary mb-0 mt-3">اسم شما</p>
				<p>شغل شما در فروشگاه عطن</p>
			</div>
			<div class="d-flex flex-column align-items-center justify-content-center">
				<img width="100px" src="/static/imgs/defaultImage.avif" alt="team-member" class="rounded-circle" />
				<p class="text-primary mb-0 mt-3">اسم شما</p>
				<p>شغل شما در فروشگاه عطن</p>
			</div>
		</section>
		<h5 class="fw-bold text-center mt-5">نفر بعدی شما باشید</h5>
		<p class="text-center mb-0">اگر در شاخه‌ای متخصص هستید به کمک شما نیاز داریم</p>
		<a class="link-dark text-center d-block mt-2" href="/synergy" target="_blank"><span class="me-2">درخواست همکاری</span>
			<svg width="23" height="15" viewBox="0 0 23 15" fill="#454545" xmlns="http://www.w3.org/2000/svg">
			<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" opacity="0.4" d="M16.5073 5.95329L21.0752 5.54932C22.1003 5.54932 22.9315 6.38856 22.9315 7.42367C22.9315 8.45878 22.1003 9.29802 21.0752 9.29802L16.5073 8.89404C15.7031 8.89404 15.0511 8.23571 15.0511 7.42367C15.0511 6.61027 15.7031 5.95329 16.5073 5.95329"></path>
			<path class="fill-current transition duration-200 text-dark-550 dark:group-hover:text-gray-20 dark:text-white group-hover:text-dark-700" d="M1.16786 6.02753C1.23926 5.95544 1.50598 5.65076 1.75653 5.39776C3.21811 3.81313 7.03437 1.22195 9.03073 0.428959C9.33382 0.302461 10.1003 0.0331419 10.5112 0.0140991C10.9032 0.0140991 11.2776 0.105232 11.6346 0.284778C12.0805 0.536415 12.4361 0.933592 12.6328 1.4015C12.7581 1.72523 12.9548 2.69777 12.9548 2.71545C13.1501 3.77776 13.2565 5.50521 13.2565 7.41493C13.2565 9.23215 13.1501 10.8889 12.9898 11.9689C12.9723 11.9879 12.7756 13.1944 12.5614 13.6079C12.1694 14.3642 11.4029 14.8321 10.5826 14.8321H10.5112C9.97638 14.8144 8.85292 14.3451 8.85292 14.3288C6.96297 13.5358 3.23697 11.0698 1.73902 9.43074C1.73902 9.43074 1.31604 9.00908 1.13284 8.74656C0.84726 8.36843 0.70447 7.90052 0.70447 7.43261C0.70447 6.9103 0.864772 6.42471 1.16786 6.02753"></path>
			</svg>
		</a>
	</div>
</div>
