<link
	rel="stylesheet"
	href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
	integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
	crossorigin=""
/>

<div class="container mt-5">
	<div class="row"><%- include('../components/breadCrumbs.ejs') %></div>
	<div class="row text-center">
		<h1 class="fw-bold">ارتباط با ما</h1>
		<p class="mt-2">در این صفحه میتوانید اطلاعات ارتباطی فروشگاه عطن را مشاهده کنید.</p>
	</div>
	<div class="row mt-5">
		<section class="col-6 text-center">
			<h4 class="fw-bold text-secondary">پل های ارتباطی</h4>
			<div class="d-flex justify-content-center mt-4">
				<a href="mailto:backendwithali@gmail.com" type="button" class="btn btn-sm"
					><svg
						class="transform scale-75"
						width="23"
						height="20"
						viewBox="0 0 32 29"
						fill="#404040"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M15.979 28.4996C3.17737 28.4996 0.433594 25.9845 0.433594 14.2496C0.433594 11.0245 0.640843 8.49572 1.20718 6.5242C2.65728 7.978 4.48714 9.72621 6.47465 11.2834C9.29349 13.4919 12.7074 15.5451 15.979 15.5451C19.2507 15.5451 22.6646 13.4919 25.4835 11.2834C27.471 9.72621 29.3008 7.978 30.7509 6.5242C31.3173 8.49572 31.5245 11.0245 31.5245 14.2496C31.5245 25.9845 28.7807 28.4996 15.979 28.4996Z"
						></path>
						<path
							d="M29.6219 3.98071C28.104 5.52774 26.0906 7.51629 23.8856 9.24387C21.108 11.42 18.3038 12.9542 15.979 12.9542C13.6543 12.9542 10.8501 11.42 8.07254 9.24387C5.86751 7.51629 3.85413 5.52774 2.33618 3.98071C4.39367 0.870955 8.44417 -0.000366211 15.979 -0.000366211C23.5139 -0.000366211 27.5644 0.870955 29.6219 3.98071Z"
						></path></svg
				></a>
				<a href="https://t.me/Say_hello_to_my_little_friend" type="button" class="btn btn-sm ms-2">
					<svg
						class="transform scale-75"
						width="23"
						height="20"
						viewBox="0 0 29 29"
						fill="#404040"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M27.6063 1.36634C28.4988 2.27333 28.7658 3.53542 28.8669 4.45219C28.9798 5.47544 28.941 6.64933 28.813 7.85804C28.5556 10.2886 27.9014 13.186 27.0255 15.9748C26.1507 18.76 25.0187 21.5521 23.7562 23.7449C23.1271 24.8375 22.4229 25.8568 21.647 26.6607C20.9056 27.4288 19.883 28.2257 18.5944 28.4429L18.5873 28.4441C18.3448 28.4842 18.1084 28.4932 18.0251 28.4963L18.0092 28.4969C17.1678 28.5311 16.4412 28.2344 15.9452 27.968C15.4149 27.6831 14.9172 27.3071 14.4735 26.9129C13.5839 26.1225 12.717 25.0854 12.0115 24.0036C11.625 23.4108 11.2587 22.7616 10.9594 22.0896C10.5154 21.0929 10.7864 19.9603 11.458 19.0994L15.5328 14.2981C15.7414 14.0523 15.7262 13.6881 15.4979 13.4605C15.2695 13.2328 14.9043 13.2177 14.6577 13.4256L9.84211 17.4883C8.92423 18.2001 7.7103 18.4758 6.66051 17.9772C5.98926 17.6584 5.34208 17.2741 4.75088 16.8675C3.63451 16.0997 2.56486 15.1472 1.78043 14.1544C1.38906 13.659 1.01931 13.0916 0.767472 12.4777C0.524124 11.8846 0.313986 11.0581 0.512432 10.154L0.51276 10.1525C0.783943 8.91801 1.59665 7.94051 2.36691 7.22854C3.17804 6.47881 4.19792 5.79052 5.29295 5.17022C7.49017 3.92559 10.2726 2.79696 13.0471 1.92011C15.823 1.04281 18.7039 0.381914 21.1202 0.121652C22.3213 -0.0077328 23.4919 -0.0476991 24.5144 0.0680539C25.4326 0.171996 26.7026 0.447971 27.6063 1.36634Z"
						></path>
					</svg>
				</a>
			</div>
		</section>
		<section class="col-6 text-center">
			<h4 class="fw-bold text-secondary">شبکه های اجتماعی</h4>
			<div class="d-flex justify-content-center mt-4">
				<a href="#" type="button" class="btn btn-sm ms-2">
					<svg
						class="transform scale-75"
						width="23"
						height="20"
						viewBox="0 0 33 27"
						fill="#404040"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							class="fill-current text-blue-700 dark:text-blue-450 transition duration-200 group-hover:text-white"
							d="M10.4895 26.5915C22.619 26.5915 29.2552 16.5398 29.2552 7.82572C29.2552 7.54314 29.249 7.25428 29.2364 6.97171C30.5273 6.03811 31.6414 4.88173 32.5262 3.55689C31.324 4.09181 30.0474 4.44116 28.7403 4.59302C30.1166 3.76803 31.1471 2.47202 31.6408 0.94523C30.3461 1.71256 28.9301 2.25385 27.4536 2.54589C26.4588 1.48885 25.1435 0.788961 23.711 0.554438C22.2786 0.319914 20.8087 0.563814 19.5288 1.24843C18.2488 1.93304 17.23 3.02024 16.6299 4.34194C16.0298 5.66363 15.8819 7.1462 16.2089 8.56043C13.5871 8.42887 11.0223 7.74781 8.68071 6.56143C6.33909 5.37504 4.27293 3.7098 2.61617 1.67366C1.77411 3.12546 1.51645 4.84341 1.89553 6.47836C2.27461 8.11331 3.262 9.54258 4.65702 10.4757C3.60972 10.4424 2.58537 10.1605 1.66859 9.65307V9.7347C1.66765 11.2583 2.19436 12.7351 3.15918 13.9142C4.124 15.0934 5.46739 15.902 6.96098 16.2026C5.99082 16.4681 4.9726 16.5067 3.98511 16.3157C4.40657 17.6259 5.22659 18.7719 6.33071 19.5937C7.43484 20.4155 8.76798 20.8721 10.1441 20.8997C7.80786 22.7349 4.92196 23.7302 1.95116 23.7255C1.42432 23.7247 0.897992 23.6924 0.375 23.6288C3.39301 25.565 6.90375 26.5934 10.4895 26.5915Z"
						></path>
					</svg>
				</a>
				<a href="#" type="button" class="btn btn-sm ms-2">
					<svg
						class="transform scale-75"
						width="23"
						height="20"
						viewBox="0 0 30 29"
						fill="#404040"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							class="fill-current text-blue-700 dark:text-blue-450 transition duration-200 group-hover:text-white"
							d="M14.8147 2.65989C18.6227 2.65989 19.0736 2.67659 20.5712 2.74339C21.963 2.80463 22.7146 3.03846 23.2156 3.23331C23.8781 3.48941 24.3569 3.80117 24.8524 4.29666C25.3535 4.79771 25.6597 5.27093 25.9158 5.93343C26.1106 6.43448 26.3444 7.19163 26.4057 8.57787C26.4725 10.081 26.4892 10.532 26.4892 14.3344C26.4892 18.1424 26.4725 18.5934 26.4057 20.0909C26.3444 21.4828 26.1106 22.2343 25.9158 22.7354C25.6597 23.3979 25.3479 23.8767 24.8524 24.3722C24.3514 24.8732 23.8781 25.1794 23.2156 25.4355C22.7146 25.6304 21.9574 25.8642 20.5712 25.9254C19.068 25.9922 18.6171 26.0089 14.8147 26.0089C11.0067 26.0089 10.5557 25.9922 9.05812 25.9254C7.66631 25.8642 6.91473 25.6304 6.41368 25.4355C5.75118 25.1794 5.27239 24.8676 4.77691 24.3722C4.27586 23.8711 3.96966 23.3979 3.71356 22.7354C3.51871 22.2343 3.28489 21.4772 3.22365 20.0909C3.15684 18.5878 3.14014 18.1368 3.14014 14.3344C3.14014 10.5264 3.15684 10.0755 3.22365 8.57787C3.28489 7.18606 3.51871 6.43448 3.71356 5.93343C3.96966 5.27093 4.28142 4.79214 4.77691 4.29666C5.27796 3.7956 5.75118 3.48941 6.41368 3.23331C6.91473 3.03846 7.67188 2.80463 9.05812 2.74339C10.5557 2.67659 11.0067 2.65989 14.8147 2.65989ZM14.8147 0.0933838C10.9454 0.0933838 10.4611 0.110086 8.94121 0.176893C7.42692 0.2437 6.38584 0.488658 5.48395 0.839395C4.54308 1.20683 3.74697 1.69118 2.95642 2.4873C2.1603 3.27785 1.67595 4.07397 1.30851 5.00927C0.957775 5.91673 0.712816 6.95223 0.646009 8.46653C0.579202 9.99195 0.5625 10.4763 0.5625 14.3455C0.5625 18.2148 0.579202 18.6991 0.646009 20.219C0.712816 21.7333 0.957775 22.7744 1.30851 23.6763C1.67595 24.6171 2.1603 25.4132 2.95642 26.2038C3.74697 26.9943 4.54308 27.4842 5.47838 27.8461C6.38584 28.1969 7.42135 28.4418 8.93564 28.5086C10.4555 28.5754 10.9399 28.5921 14.8091 28.5921C18.6783 28.5921 19.1627 28.5754 20.6825 28.5086C22.1968 28.4418 23.2379 28.1969 24.1398 27.8461C25.0751 27.4842 25.8712 26.9943 26.6618 26.2038C27.4523 25.4132 27.9422 24.6171 28.3041 23.6818C28.6548 22.7744 28.8998 21.7388 28.9666 20.2246C29.0334 18.7047 29.0501 18.2203 29.0501 14.3511C29.0501 10.4819 29.0334 9.99752 28.9666 8.47766C28.8998 6.96337 28.6548 5.92229 28.3041 5.0204C27.9534 4.07397 27.469 3.27785 26.6729 2.4873C25.8824 1.69675 25.0862 1.20683 24.1509 0.844962C23.2435 0.494226 22.208 0.249267 20.6937 0.18246C19.1682 0.110086 18.6839 0.0933838 14.8147 0.0933838Z"
						></path>
						<path
							class="fill-current text-blue-700 dark:text-blue-450 transition duration-200 group-hover:text-white"
							d="M14.8147 7.02461C10.7728 7.02461 7.49373 10.3037 7.49373 14.3455C7.49373 18.3874 10.7728 21.6665 14.8147 21.6665C18.8565 21.6665 22.1356 18.3874 22.1356 14.3455C22.1356 10.3037 18.8565 7.02461 14.8147 7.02461ZM14.8147 19.0944C12.1925 19.0944 10.0658 16.9677 10.0658 14.3455C10.0658 11.7234 12.1925 9.59668 14.8147 9.59668C17.4368 9.59668 19.5635 11.7234 19.5635 14.3455C19.5635 16.9677 17.4368 19.0944 14.8147 19.0944Z"
						></path>
						<path
							class="fill-current text-blue-700 dark:text-blue-450 transition duration-200 group-hover:text-white"
							d="M24.1342 6.73496C24.1342 7.68139 23.366 8.44411 22.4251 8.44411C21.4787 8.44411 20.7159 7.67583 20.7159 6.73496C20.7159 5.78853 21.4842 5.02581 22.4251 5.02581C23.366 5.02581 24.1342 5.79409 24.1342 6.73496Z"
						></path>
					</svg>
				</a>
			</div>
		</section>
	</div>
	<div class="row mt-5">
		<section class="bg-secondary-subtle p-4 rounded">
			<div>
				<h5>آدرس فروشگاه</h5>
				<p>ایران ، یه جایی داخل شهر تهران ، نزدیکای برج میلاد</p>
				<h5>شماره تماس</h5>
				<p>09037567362</p>
			</div>
			<div style="height: 280px" id="map"></div>
		</section>
	</div>
</div>

<div class="container mt-5">
	<div class="row">
		<div class="col-12 col-lg-6">
			<form>
				<div class="mb-3">
					<label for="name" class="form-label">نام</label>
					<input autofocus type="text" class="form-control" id="name" />
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">ایمیل</label>
					<input inputmode="email" type="email" class="form-control" name="email" id="email" />
					<div id="emailHelp" class="form-text">ما هرگز ایمیل شما رو در اختیار دیگران قرار نمیدهیم</div>
				</div>
				<div class="mb-3">
					<label for="subject" class="form-label">موضوع</label>
					<input name="subject" type="text" class="form-control" id="subject" />
				</div>
				<div class="mb-3">
					<label for="content" class="form-label">پیام شما</label>
					<textarea class="form-control" name="content" id="content" rows="3"></textarea>
				</div>
				<div class="form-group mt-3"><%- captcha %></div>
				<button type="submit" class="btn btn-primary mt-3 w-100">ارسال</button>
			</form>
		</div>
		<div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center order-first">
			<h4>
				<svg style="width: 50px" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M7.17756 2.63068C5.29428 4.24542 4.23977 6.52208 4.00501 9.31384C0.759826 9.66531 0 11.1943 0 15.8181C0 20.4194 0.752432 21.956 3.9577 22.3172C3.95562 22.3476 3.95456 22.3782 3.95456 22.4091C3.95456 26.0492 6.90559 29 10.5456 29H11.8637C12.5917 29 13.1818 28.4098 13.1818 27.6818C13.1818 26.9538 12.5917 26.3636 11.8637 26.3636H10.5456C8.36153 26.3636 6.59092 24.5931 6.59092 22.4091L6.5909 22.4012C10.9121 22.2912 11.8637 20.9925 11.8637 15.8181C11.8637 10.6718 10.9224 9.35923 6.66063 9.23703C6.89267 7.15658 7.69283 5.66164 8.89359 4.63209C10.3665 3.36921 12.6395 2.6364 15.7745 2.63637C18.9125 2.63634 21.2108 3.36213 22.7064 4.62554C23.9243 5.6543 24.7391 7.1493 24.9749 9.23705C20.7139 9.35941 19.7728 10.6721 19.7728 15.8181C19.7728 21.2458 20.8197 22.4091 25.7046 22.4091C30.5895 22.4091 31.6364 21.2458 31.6364 15.8181C31.6364 11.1941 30.8765 9.66515 27.6309 9.31379C27.392 6.50179 26.3141 4.22196 24.4077 2.61158C22.2674 0.803509 19.2711 -3.70837e-05 15.7744 1.2837e-09C12.2747 3.70863e-05 9.29683 0.813592 7.17756 2.63068Z"
						fill="currentColor"
					></path></svg
				><span class="ms-2">فرم تماس با ما</span>
			</h4>
			<p class="text-center w-75 mx-auto mt-3">
				در کنار روش‌های که در برای ارتباط با فروشگاه عطن در نظر گرفته‌ایم،شما همچنین می‌توانید از طریق فرم زیر پیام خود
				را برای ما ارسال کنید
			</p>
			<img class="img-fluid mt-2 d-none d-lg-block" width="150px" loading="lazy" src="/static/imgs/letter.avif" alt="نامه">
		</div>
	</div>
</div>

<script
	src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
	integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
	crossorigin=""
></script>
<script>
	let map = L.map('map').setView([35.7447679, 51.3729263], 17);
	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
	}).addTo(map);
	let marker = L.marker([35.7447675, 51.3729263]).addTo(map);
	marker.bindPopup('<b>ما اینجاییم !</b>').openPopup();
</script>
