<h1 class="text-center text-primary user-select-none"><%= error.status %></h1>
<h3 class="text-center text-secondary user-select-none"><%= error.message %></h>
<pre class="text-secondary mt-4	" ><%= error?.stack ?? '' %></pre>
<a href="<%= error?.redirectLink ?? '/' %>" class="btn btn-primary">بازگشت به خانه</a>
