
<link rel="stylesheet" href="/static/admin/course/css/create.css" />
<div class="container">
	<!-- course header -->
	<div class="row w-100">
		<div class="col-12 col-lg-6"><h3>ایجاد دسته بندی جدید</h3></div>
		<div class="col-12 col-lg-6 text-center">
			<a type="button" class="btn btn-primary ms-auto btn-sm" href="/admin/categories/">دسته بندی ها</a>
		</div>
	</div>
	<!-- create a new course form start -->
	<div class="row w-100">
		<form method="POST" action="/admin/categories/create" class="col-12 col-lg-8 offset-lg-2">
			<div class="row mbn-20">
				<!-- name  -->
				<div class="col-12 mb-20">
					<label class="mb-2 mt-4" for="newCategoryName">نام دسته بندی</label>
					<input
						autofocus
						type="text"
						id="newCategoryName"
						class="form-control"
						name="name"
						required
						value="<%- old?.name ?? '' %>"
					/>
				</div>
				<!-- parent -->
				<div class="col-12 mb-20">
					<label class="my-2" for="newCategoryParent">زیر مجموعه</label>
					<select class="form-control" name="parent" id="newCategoryParent" required>
					<% if (parents.length > 0) { %>
							<% parents.forEach(parent => { %>
								<option value="<%= parent._id %>"><%= parent.name %></option>
							<% }) %>
					<% } %>
					<option  value="null" selected>دسته اصلی</option>
					</select>
				</div>
						<!-- slug -->
						<div class="col-12 mb-20">
							<label class="mb-2 mt-4" for="newCategorySlug"> slug</label>
							<input
								autofocus
								type="text"
								id="newCategorySlug"
								class="form-control"
								name="slug"
								required
								value="<%- old?.slug ?? '' %>"
							/>
							<p dir="ltr" class="form-text text-secondary text-start" id="categorySlugPreview"><span> www.yourSite.com/courses?category=</span><span id="categorySlugPreviewValue"></span></p>
						</div>

				<!--  -->
				<div class="d-grid">
					<button class="btn btn-primary">ایجاد دسته بندی</button>
				</div>
		</form>
	</div>
	<!-- create a new course form end -->
</div>

<script>
	const newCategorySlug = document.querySelector('#newCategorySlug');
	const categorySlugPreviewValue = document.querySelector('#categorySlugPreviewValue');
	newCategorySlug.addEventListener('input', () => {
		let { value } = event.target;
		categorySlugPreviewValue.innerText = value;
	})
</script>
