<link rel="stylesheet" href="/static/admin/course/css/delete.css" />

<div class="row">
	<h1 class="text-center"><%= course.title %></h1>
	<div class="col-12 col-lg-6 offset-lg-3 text-center mx-auto mt-3">
		<div class="alert alert-warning" role="alert">با حذف دوره تمام اطلاعات مربوط به دوره از وبسایت حذف خواهد شد</div>
	</div>
	<div class="text-center d-flex align-items-center justify-content-center">
		<label for="isOkToDelete">از تصمیم خود اطمینان دارم</label>
		<input type="checkbox" id="isOkToDelete" class="me-2" />
	</div>
	<section class="deleteFormSection" hidden>
		<div class="row">
			<form method="POST" action="/admin/courses/<%= course._id %>/delete" class="col-12 col-lg-4 mb-15 mx-auto mt-4">
				<p class="form-text mb-1">برای حذف عبارت "<%= course.title %>" را وارد کنید</p>
				<input
					data-course="<%= course.title %>"
					id="deleteCourseInput"
					type="text"
					class="form-control danger"
					name="course"
				/>
				<button
					id="deleteCourseButton"
					type="submit"
					class="button button-outline button-secondary w-100 mt-3"
					disabled
				>
					<span>حذف دوره</span>
				</button>
			</form>
		</div>
	</section>
</div>

<script src="/static/admin/course/js/delete.js"></script>
